@font-face {
    font-family: "Light Theme Font";
    /* 
    (commented out because paths without file breaks build)
    src: url("light-theme-font.woff2") format("woff2"),
         url("light-theme-font.woff") format("woff");
    */
}